<html>
<head> 
	<title>about_me_page</title>
	<link rel="stylesheet" href="{{url_for('static' , filename='about_me_page.css')}}" >
	
</head>
<body>
<div id=info>
<h1><b> Here are some info about me </b></h1>
<p> Im sima Qudsi , Im 16 years old , i have 3 sisters yes i have no brothers</p>
<p>my hobbies are : playing the piano , photography .... </p>
</div>
</div>
<div id="menu" >
	<ul>
		<li> <a href="{{url_for('home')}}" > home </a> </li>
		<li> <a href="{{url_for('about')}}"> about me </a> </li>
		<li> <a href="{{url_for('contact')}}"> contact me </a> </li>
	</ul>
</div>
<center>
<img src="https://s-media-cache-ak0.pinimg.com/originals/25/6e/93/256e9381dac04d2171918f1181dbfd13.gif">
</center>
</body>
</html>
